
body {
	background-image: url("http://i.imgur.com/REsNBAK.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}

p {
	margin-top: 40%;
	text-align: center;
	font-family: 'Helvetica', sans-serif;
	color: white;
	font-size: 24px;
}


.searchbar {
	margin-top: -1%;
	text-align: center;
}

a {
    color: white;
    text-decoration: underline;  
}



.textbox {
	width: 40%;
	opacity: 0.8;
 	height: 40px;
  	padding: 0 46px 0 10px;
  	border: solid 2px #ffffff;
  	border-radius: 35px; /* (height/2) + border-width */
 	margin-top: 0px;
  	font-family: 'Helvetica', sans-serif;
  	color: white;
	font-size: 18px;
	background: none;
}

input[type=submit] {
	width: 100px;
	font-family: 'Helvetica', sans-serif;
	font-size: 24px;
	height: 40px;
	border-radius: 35px;
	opacity: 1.0;
	color: #ffffff;
	background: none;
	border: solid 2px #ffffff;
}
Status API Training Shop Blog About Pricing
© 2016 GitHub, Inc. Terms Privacy Security Contact Help