
div.banner {
  top: 0;
  background-color: #060670;
  color: #ffffff;
  font-size: 32px;
  font-family: "Helvetica";
  margin: 10px;
  padding: 5px;
}

body {
    background-image: url("http://i.imgur.com/ZIRz3gs.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.results-box {
    border = 1px;
    height: 250px;
    margin: 15px;
    border-radius: 6px;
    border-color: white;
    border-style: solid;
    color: white;
}

.searchbar {
	text-align: right;
    margin-top: 25px;
}

.textbox {
	width: 40%;
	opacity: 0.8;
 	height: 40px;
  	padding: 0 46px 0 10px;
  	border: solid 2px #ffffff;
  	border-radius: 35px; /* (height/2) + border-width */
 	margin-top: 0px;
  	font-family: 'Helvetica', sans-serif;
  	color: white;
	font-size: 18px;
	background: none;
}

.filter{
  font-family: 'Helvetica', sans-serif;
  color: white;
  font-size: 16px;
  padding: 10px;
  margin: 5px;
  border: solid 2px #ffffff;
  border-radius: 35px;
}

input[type=submit] {
	width: 100px;
	font-family: 'Helvetica', sans-serif;
	font-size: 24px;
	height: 40px;
	border-radius: 35px;
	opacity: 1.0;
	color: #ffffff;
	background: none;
	border: solid 2px #ffffff;
}

p {
    font-family: 'Helvetica', sans-serif;
	color: white;
	font-size: 24px;
}

h1{
    font-family: 'Helvetica', sans-serif;
	color: white;
	font-size: 36px;
}

a {
	font-family: 'Helvetica', sans-serif;
    font-size: 24px;
    color: white;
    text-decoration: underline;  
}

#votelocal {
    float:left;
    margin-left: 10px;
}
