
body {
background-image:url(http://i.imgur.com/ZIRz3gs.jpg);
background-size: 100%;
background-repeat: no-repeat;
background-attachment: fixed;
}


#votelocal {
float:left;
}

.searchbar {
	margin-top: 1%;
	text-align: right;
}

p {
    font-family: 'Helvetica', sans-serif;
	color: white;
	font-size: 1em;
}

h2 {
    font-size:2em;
    font-family: 'Helvetica', sans-serif;
}

li {
    
}


.textbox {
	width: 40%;
	opacity: 0.8;
 	height: 40px;
  	padding: 0 46px 0 10px;
  	border: solid 2px #ffffff;
  	border-radius: 35px; /* (height/2) + border-width */
 	margin-top: 0px;
  margin: 15px;
  	font-family: 'Helvetica', sans-serif;
  	color: white;
	font-size: 18px;
	background: none;
}

input[type=submit] {
	width: 100px;
	font-family: 'Helvetica', sans-serif;
	font-size: 24px;
	height: 40px;
	border-radius: 35px;
	opacity: 1.0;
	color: #ffffff;
	background: none;
	border: solid 2px #ffffff;
}

#cand-name {
font-family: 'Helvetica', sans-serif;
color:white;
margin-left: 2%;
text-align:left;
}

#wrapper2 {
    width: 100%;
    overflow: hidden;
    margin: 100px;
 font-family: 'Helvetica', sans-serif;
margin: 0px 0px 0px 0px;
line-height: 120%;

}



#cand-photo {    
float:left;
width: auto;
border: solid #E6E6E6;
margin-left: 10px;

margin-bottom:  10px;
margin-left: 2%;
margin-right: 1%;

}


#current-info {
float:left;
width: 300px;
border: solid #E6E6E6;
border-radius: 10px;
color:white;
font-family: 'Helvetica', sans-serif;
margin-left:1%;
padding-left: 25px;
margin-bottom: 10px;
}


#cand-bio {
float: left;
width: 650px;
padding-left: 25px;
border: solid #E6E6E6;
border-radius: 10px;
margin-left:10px;
color:white;
font-family: 'Helvetica', sans-serif;
margin-left: 1%;
}





#stance-title {
    text-align: center;
    padding-top:100px;
    color:white;
}

.cand-stances {
font-family: 'Helvetica', sans-serif;
color:white;

padding-left:5%;
padding-right:5%;
padding-top: 100px;
}

.ghost-button {
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  outline:none;
  text-decoration: none;
  margin-bottom:2.5%;
  margin-left:1.7%;
	font-family: 'Helvetica', sans-serif;
    border-radius:3px;
}